#----------------------------------------------------------------------------
# The proprietary software and information contained in this file is
# confidential and may only be used by an authorized person under a valid
# licensing agreement from Arm Limited or its affiliates.
#
# Copyright (C) 2023. Arm Limited or its affiliates. All rights reserved.
#
# This entire notice must be reproduced on all copies of this file and
# copies of this file may only be made by an authorized person under a valid
# licensing agreement from Arm Limited or its affiliates.
#---------------------------------------------------------------------------

# Properties used for EGLConfig-s are readable by every type of process in the system.
get_prop(domain, vendor_arm_egl_configs_prop)

# Properties used for Gralloc buffer usages are readable by every type of process in the system.
get_prop(domain, vendor_arm_gralloc_prop)

# Properties used for GPU driver configuration and debug are readable by every type of process in the system.
get_prop(domain, vendor_arm_runtime_option_prop)
